#root {
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'MadeGentle';
  src: url('./assets/fonts/MadeGentle.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-cute {
  font-family: 'MadeGentle', sans-serif;
}